*~
controller_xena/manifests/params.pp
controller_xena/files/id_rsa_ctrl-01
controller_xena/files/id_rsa_controller-01
controller_xena/files/INFN-CA.pem
controller_xena/files/cafile.pem
controller_xena/files/ceph.conf
controller_xena/files/ceph-ec.conf
controller_xena/files/ceph.client.cinder-prod.keyring
controller_xena/files/ceph.client.cinder-cloudtest.keyring
controller_xena/files/ceph.client.glance-prod.keyring
controller_xena/files/ceph.client.glance-cloudtest.keyring
compute_xena/manifests/params.pp
compute_xena/files/id_rsa_ctrl-01
compute_xena/files/id_rsa_controller-01
compute_xena/files/INFN-CA.pem
compute_xena/files/cafile.pem
compute_xena/files/ceph.conf
compute_xena/files/nagios_check_ovs.sh
compute_xena/files/check_kvm_wrapper.sh
compute_xena/files/secret.xml
compute_xena/files/secret_test.xml
